[Desktop Entry]
Type=Application
Name=SmurfPanel
GenericName=USB Audio Control Surface
Comment=USB audio control surface
Exec=__EXEC_PATH__
TryExec=__EXEC_PATH__
Icon=smurfpanel
Terminal=false
Categories=AudioVideo;Audio;Settings;
StartupNotify=true
